<%provide(:title, 'Letter Search Game')%>


<%slipknot = 6%>
<%=twizzy = 5%>
<%very = 1 %>




<%slipknot = 9%>
<%letter = alphabet%>	
<% @lt1= false %>
<% @lt2= false %>
<%@level = 4%>
<%buttons = 30%>
<%array_index = 0%>
<%dog = (0..5).to_a.sample%>
<%house = (24..29).to_a.sample%>
<% while house - dog == 24 do%> 
<% dog = (0..5).to_a.sample%>
<% end %>
<%correct_id = 0%>


	



<%button_array= [ ]%>
<%button_array = gay_array(buttons, letter, 0)%>

<%button_array = letter_maze(button_array, letter, dog, house)%>


<script>
function lightitup() {
    var x = document.getElementById("muteletters");
    x.style.fontsize = "2.8em";           
    x.style.color = "white"; 
		x.style.textShadow = "rgb(255, 255, 255) 0px 0px 17px"
	
}
</script> 


<%correct_array= doggy(button_array, letter)%>
<%@correct_array= doggy(button_array, letter)%>

<!--THIS IS TO MAKE RUBY VARIABLES THAT I CAN USE IN IF STATEMENTS WITHIN JAVASCRIPT TO TELL THE DOG WHERE THE L'S ARE, (WHERE TO GO DOWN OR LEFT OR RIGHT)-->
<% buttons_go_right = nil %>
<% buttons_go_down = @correct_array.length - 1%> <!--this is to determin where the L bend occurs, where the dog must go down on the click-->

<% if @correct_array[2] - @correct_array[1] == 6 %>
	<% buttons_go_right = true %>
<% else %>
	<% buttons_go_right = false%>
<% end %>



<div class='row edu'>	
	<div class='col-xs-12 center' style="margin-top:0px">	
		<h1>Where is <%=letter%> ?</h1> 
		<h1><%=@correct_array%></h1> <!--  THIS WAS TO RETURN A ARRAY OF THE INDEX'S OF THE SEARCH LETTER-->
		<h1><%= buttons_go_down%></h1>
	</div>
</div>

<div class='row' >
	<div class='col-xs-2 col-xs-offset-<%= dog * 2%>'>	
		<%=image_tag("dog.png", width:'100%', height: '100%', id:'testies')%>
	</div>
</div> 


<div class='row edu center'>	
		
	<%while array_index < 30 do %> 	
		<div class= 'col-xs-2' >	<!-- -->
			<div class="button-box">
				<%if button_array[array_index] == letter%> <!--I dont need the exta script here-->
					<% correct_id = correct_id + 1%> <!-- for jquery, look and the id below-->
					<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button" id="<%="button_#{correct_btn_id(correct_array, correct_id)}"%>"><%=button_array[array_index]%></button>
					
				<%else%> 
					<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text="<%=button_array[array_index]%>"><%=button_array[array_index]%></button>
				<%end%> 
			</div>
	 </div>			
 	<%array_index += 1%>
 	<%end%>	 
	
</div>

<div class='row' >
	<div class='col-xs-2 col-xs-offset-<%=(house - 24) * 2%>'>	
		<%=image_tag("dog_house.png", width:'100%', height: '100%', id:'testies')%>
	</div>
</div> 

 
<%=%>
	
	<script>
			$(document).ready(function(){
  		
  		  var currentButton = 0
  		  var activeBtn1 = false
  		  var activeBtn2 = false
  		  var activeBtn3 = false
  		  var activeBtn4 = false
  		  var activeBtn5 = false
  		  var activeBtn6 = false
  		  var activeBtn7 = false
				var activeBtn8 = false
				var activeBtn9 = false	
  		  var activeBtn10 = false
  		  
  		  
  		  
  		 	//This is for making the button red.. i beleive..double check				
  		 
  		  $(".butt").click(function(){
        	$(this).button('loading').delay(1000).queue(function() {
            $(this).button('reset');
            $(this).dequeue();
        	});        
    		});
  		 //---------------------- 
  		 
  
  
  //---DOES NOTHING I BELEIVE
  
  	$(".correct").click(function(){
  	
  	//currentButton = currentButton + 1
  	
  	});
  	
  
  
//---------THIS IS BUTTON 1 CLICK-----------------------------  
  
  	$("#button_1").click(function(){
   		 
   		activeBtn1 = true
   		
   		currentButton = currentButton + 1 
   		 
   		 if (currentButton == 1 ) {//<% if @level == 4%>1 <%end%>) { //this shows that i can use ruby wraps in the jquery / jaavascript code 
				   		 
   		 
   		 $("#testies").velocity({
   				 
   				 
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "100%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
				}); 	
   		 
   		 } //for this if statement
  		
  		if (activeBtn3 == true) { //THIS IS THE NEWEST STATEMENT I MADE, I THINK I MIGHT BE ABLE TO GET AWAY WITH JUST USING THE ACTIVE BUTTON VARIABLES
  			$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "100%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
				}); 	
  			
  		}
  		
  		
  		if (activeBtn2 == true && activeBtn3 == false) {
  			$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "200%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
				}); 	
  			
  		}	
  		
  		if (activeBtn3 == true) {
  			$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "310%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
				}); 	
  			
  		}	
		 
  		if (currentButton == 4) { //THIS IS THE NEWEST STATEMENT I MADE, I THINK I MIGHT BE ABLE TO GET AWAY WITH JUST USING THE ACTIVE BUTTON VARIABLES
  			$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "310%",
    			<%if buttons_go_right == true %> 
    			 translateX: "120%",	
    			<%else%>
    			 translateX: "-120%",
    			 <%end%>			
    				//rotateZ: "45deg" this came with it..for 3d transforms
				}); 	
  			
  		}		
  
  
  		
  }); //end of the the button_1 animation			
			
			
			
//---------THIS IS BUTTON 2 CLICK-----------------------------			
			
			
			$("#button_2").click(function(){
				
				activeBtn2= true
				
				currentButton = currentButton + 1
				
				if (activeBtn1 == true && activeBtn3 == false) {  
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "200%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
					}); 	
				
		
					
				
				}
				
				
				if (currentButton == 3 && activeBtn4 == flase) {  
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				 translateY: "310%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
					}); 	
				
				}
				
				
				
			
			});
			
			
			
//---------THIS IS BUTTON 3 CLICK-----------------------------	
		
			$("#button_3").click(function(){
				
				activeBtn3 = true
				
				currentButton = currentButton + 1
				
				if (activeBtn3 == true && activeBtn1 == true && activeBtn2 == true ) {
					
					$("#testies").velocity({
   				 translateZ: 0, 	// Force HA by animating a 3D property
   				 translateY: "310%",
    				//rotateZ: "45deg" this came with it..for 3d transforms
					}); 	
				
				}
			
				if (activeBtn4 == true && activeBtn1 == true && activeBtn2 == true) {
					
					$("#testies").velocity({
   				 translateZ: 0, 	// Force HA by animating a 3D property
   				<% if buttons_go_right == true %>
   				 translateX: "120%",
    			<% else %>
					 translateX: "-120%",
					<% end %>	
					}); 	
				
				}
			
			});
			

//---------THIS IS BUTTON 4 CLICK-----------------------------

				$("#button_4").click(function(){
				
				activeBtn4 = true
				
				currentButton = currentButton + 1
				
				if (currentButton == 4) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   			<% if buttons_go_right == true%> // going right
   				 translateX: "120%",
    		<% else %>		
    	  	translateX: "-120%",
    	  <% end %>
    				
					}); 	
				
				}
			
			});
			
			

//---------THIS IS BUTTON 5 CLICK-----------------------------

			$("#button_5").click(function(){
				
				activeBtn5 = true
				
				currentButton = currentButton + 1
				
				if (currentButton == 5) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   			<% if buttons_go_down == 5 %>
   			  	<%buttons_go_right = nil %> // this is to be a tricky butthole and stop the next two if-statements
   			  	translateY:'415%',
   			  <%end%>	
   			  
   			  <%if buttons_go_right == true %> 
   			   translateX: "235%",
    			<%end%>
    			
    			<%if buttons_go_right == false %>	
					translateX: "-235%",
					<%end%>
    				
					}); 	
				
				}
			
			});
			

//---------THIS IS BUTTON 6 CLICK-----------------------------

				$("#button_6").click(function(){
				
				activeBtn6 = true
				
				currentButton = currentButton + 1
				
				if (currentButton == 6) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				
   				
   				 <% if buttons_go_down == 5 %> //this is for when the L is on 5 and the 6th button is the last button
						<%buttons_go_right = nil%>   			  	
   			  	translateY:'540%',
   			  <%end%>	
   				
   				<% if buttons_go_down == 6 %>
   			  	<%buttons_go_right = nil %> // this is to be a tricky butthole and stop the next two if-statements
   			  	translateY:'415%',
   			  <%end%>	
   			  
   			  <%if buttons_go_right == true %> 
   			   translateX: "350%",
    			<%end%>
    			
    			<%if buttons_go_right == false %>	
					translateX: "-350%",
					<%end%>
    				
    				
					}); 	
				
				}
			
			});
			


//---------THIS IS BUTTON 7 CLICK-----------------------------

				$("#button_7").click(function(){
				
				activeBtn7 = true
				
				currentButton = currentButton + 1
				
				
			
				
				
				if (currentButton == 7) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				
   				
   				 <% if buttons_go_down == 6 %> //this is for when the L is on 6 and the 7th button is the last button
						<%buttons_go_right = nil%>   			  	
   			  	translateY:'540%',
   			  <%end%>	
   				
   				<% if buttons_go_down == 7 %>
   			  	<%buttons_go_right = nil %> // this is to be a tricky butthole and stop the next two if statements
   			  	translateY:'415%',
   			  <%end%>	
   			  
   			  <%if buttons_go_right == true %> 
   			   translateX: "465%",
    			<%end%>
    			<%if buttons_go_right == false %>	
					translateX: "-465%",
					<%end%>
    				
					}); 	
				
				}
			
			});
			

//---------THIS IS BUTTON 8 CLICK-----------------------------

				$("#button_8").click(function(){
				
				activeBtn8 = true
				
				currentButton = currentButton + 1
				
				if (currentButton == 8) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property   #if it is going right and the button is directly after the last
   			  
   			  
   			  <% if buttons_go_down == 7 %> //this is for when the L is on 7 and the 8th button is the last button
						<%buttons_go_right = nil%>   			  	
   			  	translateY:'540%',
   			  <%end%>	
   			  
   			  <% if buttons_go_down == 8 %>
   			  	<%buttons_go_right = nil %> // this is to be a tricky butthole and stop the next two if statements
   			  	translateY:'415%',
   			  <%end%>	
   			  
   			  <%if buttons_go_right == true %> 
   			   translateX: "585%",
    			<%end%>
    			<%if buttons_go_right == false %>	
					translateX: "-585%",
					<%end%>
					}); 	
				
				}
			
			});
			

//---------THIS IS BUTTON 9 CLICK-----------------------------

			$("#button_9").click(function(){
				
				activeBtn9 = true
				
				currentButton = currentButton + 1
				
				if (currentButton == 9) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   				<%if buttons_go_down == 9 %>
   				 translateY: "415%",
   				<%else%>
   				 translateY: "530%",
    			<%end%>
    				
					}); 	
				
				}
			
			});
					$("#button_10").click(function(){
				
				activeBtn10 = true
				
				currentButton = currentButton + 1
				
				if (currentButton == 10) {
					
					
					$("#testies").velocity({
   				 translateZ: 0, // Force HA by animating a 3D property
   			
   				 translateY: "530%",
    		
    				
					}); 	
				
				}
			
			});
			
			
			
			
			
			
				  	
     $("#next").click(function(){
	  	$("#smiley").velocity("callout.bounce",800);
	    
	  setTimeout(function() {
	    window.location.replace("/<%=level%>");
			}, 500);
	  
	  });
    
   
   
   

});
		</script>