<%provide(:title, 'Letter Search Game')%>
<h1> </h1>

<%letter = alphabet%>	
<%@lt1= false%>
<%@lt2= false%>
<%@level= 2%>




<%btn_1= letter%>	
<%btn_2 = letter%>	
<%btn_3 = new_letter(letter)%>	
<%btn_4 = new_letter(letter)%>	
<%btn_5 = new_letter(letter)%>
<%btn_6 = new_letter(letter)%>

<%button_array = [btn_1, btn_2, btn_3, btn_4, btn_5, btn_6].shuffle%>

<div class='row' style="height:58px"> <!--this prevents from the rows getting shifted down the page when the star appears-->

	<div class='col-xs-4 center'>
		<%=image_tag("star.png", width:'50', height: '50', id:'star1')%>
	</div>

	<div class='col-xs-4 center'>
		<%=image_tag("star.png", width:'50', height: '50', id:'star2')%>
	</div>
	
	<div class='col-xs-4 center'>
		<%=image_tag("star.png", width:'50', height: '50', id:'star3')%>
	</div>

</div>

<div class='row edu'>	
	<div class='col-xs-12 center' style="margin-top:0px">	
		<h1>Where is <%=letter%> ?</h1>


		<%if button_array[0] == letter%> <!--I dont need the exta script here-->
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[0]%></button>
		
		<%else%> 
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[0]%>><%=button_array[0]%></button>
		<%end%> 

		<%if button_array[1] == letter %>
			
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[1]%></button>
	  <%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[1]%>><%=button_array[1]%></button>
		<%end%>

		<%if button_array[2] == letter%>
			
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button" ><%=button_array[2]%></button>
		<%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[2]%>><%=button_array[2]%></button>
		<%end%>

		<%if button_array[3] == letter%>
				
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[3]%></button>
		<%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[3]%>><%=button_array[3]%></button>
		<%end%>

		<%if button_array[4] == letter%>
			
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[4]%></button>
		<%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[4]%>><%=button_array[4]%></button>
		<%end%>

		<%if button_array[5] == letter%>
	
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[5]%></button>
		<%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[5]%>><%=button_array[5]%></button>
		<%end%>
		
		
	</div>
	
 
</div>

	<%=render 'layouts/gamescript'%>