<% provide(:title, 'Games') %>


<%letter = alphabet%>	
<%@lt1= false%>
<%@lt2= false%>
<%@level = 1%>



<%btn_1 = letter%>
<%btn_2 = new_letter(letter)%>	
<%btn_3 = new_letter(letter)%>	

<%button_array = [btn_1, btn_2, btn_3].shuffle%>

<div class='row' style="height:58px"> <!--this prevents from the rows getting shifted down the page when the star appears-->

	<div class='col-xs-4 center'>
		<%=image_tag("star.png", width:'50', height: '50', id:'star1')%>
	</div>

	<div class='col-xs-4 center'>
		<%=image_tag("star.png", width:'50', height: '50', id:'star2')%>
	</div>
	
	<div class='col-xs-4 center'>
		<%=image_tag("star.png", width:'50', height: '50', id:'star3')%>
	</div>

</div>

<div class='row edu'>	
	<div class='col-xs-12 center' style="margin-top:0px">	
		<h1>Where is <%=letter%> ?</h1>


		<%if button_array[0] == letter%> <!--I dont need the exta script here-->
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[0]%></button>
		
		<%else%> 
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[0]%>><%=button_array[0]%></button>
		<%end%> 

		<%if button_array[1] == letter %>
			
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button"><%=button_array[1]%></button>
	  <%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[1]%>><%=button_array[1]%></button>
		<%end%>

		<%if button_array[2] == letter%>
			
			<button type="button" class="btn btn-letter btn-circle btn-xl correct" data-toggle="button" ><%=button_array[2]%></button>
		<%else%>
			<button type="button" class="btn btn-letter butt btn-circle btn-xl" data-loading-text=<%=button_array[2]%>><%=button_array[2]%></button>
		<%end%>
	</div>
	
 
</div>



	<script>
			$(document).ready(function(){
  		
  		  var currentButton = 0
  		  
  		  $(".butt").click(function(){
        	$(this).button('loading').delay(1000).queue(function() {
            $(this).button('reset');
            $(this).dequeue();
        	});        
    		});
  		  
  		 
  	$(".correct").click(function(){
   		 
   		 currentButton = currentButton + 1
   		 
   		 if (currentButton == 1) { 
   		  	
   		  	$("#star1").velocity("transition.bounceRightIn",700 );
  				$("#star1").velocity("callout.shake",600);
  		   
  		    if (<%=@level%> == 1) { 
  		  		setTimeout(function() {
						$('#smileModal').modal('show')
  					$("#smiley").velocity("callout.bounce",1450)
  					}, 1350);	
  		  		
  		    }
  		  
  		  }
  			
		  if (currentButton == 2) {
		  	
		  		$("#star2").velocity("transition.bounceRightIn",700 );
  				$("#star2").velocity("callout.shake",600);
		  	
		  	
		  	  if (<%=@level%> == 2) { 
  		  		setTimeout(function() {
						$('#smileModal').modal('show')
  					$("#smiley").velocity("callout.bounce",1450)
  					}, 1350);	
  		  
  		    }
		  	
		  	
		  	}		
  				
  		
  		if (currentButton == 3) {
		  	
		  		$("#star3").velocity("transition.bounceRightIn",700 );
  				$("#star3").velocity("callout.shake",600);
		  	
		  	  if (<%=@level%> == 3) { 
  		  		setTimeout(function() {
						$('#smileModal').modal('show')
  					$("#smiley").velocity("callout.bounce",1450)
  					}, 1350);	
  		    	
     		
     				
  		    }
		  	
		  	
		  	}		
  		});			
  	
     $("#next").click(function(){
	  	$("#smiley").velocity("callout.bounce",800);
	    
	  setTimeout(function() {
	    window.location.replace("/<%=level%>");
			}, 500);
	  
	  });
    
   
   
   

});
		</script>