<% provide(:title, 'Printable Material') %>




<div class='row' style="padding-top:20px">
	<div class='col-xs-4 center'>
	<a href='<%=lettertrace_path%>'><div class='tinty'><%= image_tag('printable_icon.jpg', class:"icon", id:'icon1') %></div></a>
		<h4 class='icon_font'>Letter Tracing</h4>
	</div>
	
	<div class='col-xs-4 center'>
		<a href="<%=letters_in_words_path%>">	<div class='tinty'><%= image_tag('printable_icon2.jpg', class:"icon", id:'icon1') %></div> </a>
		
		<h4 class='icon_font'>Letters in Words</h4>
	</div>
	
	<div class='col-xs-4 center'>
	<a href="#"><div class="tinty">	<%= image_tag('printable_icon3.jpg', class:"btn btn-gay icon", id:'icon1') %></div></a>
		
		<h4 class='icon_font'>Letter Search</h4>
		
	</div>

</div>



<script>	
	$(document).ready(function(){
		
		$(".icon_font").velocity("transition.slideLeftIn", { stagger: 250 } );
		$(".icon").velocity("transition.slideLeftIn", { stagger: 250 } );
		
	});

</script>