<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Hybrid EDU</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav ">
           <!-- <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li> -->
            
            
          <% if signed_in? %>  
            <li><%= link_to 'Users', users_path %></li>
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li><%= link_to "Profile", current_user %></li>
                 <li><%= link_to "Settings", edit_user_path(current_user) %></li>
             
                <li role="presentation" class="divider"></li>
               <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
        	<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>	        	
          </ul>
        	 <ul class="nav navbar-nav navbar-right center right_pad">
    				
    				<li class="listuff"	id='icon1'> <a href="/printables" class="color_tabs"> <div class='tab_backgroundz' id='green'><%=image_tag('printables.png', height: '60%', width:'60%', class:'nav_icon center')%></div><p class='center'>Printable Materials</p></a></li>
    			 	<li class="listuff" id='icon2'> <a href="/games" class="color_tabs"> <div class='tab_backgroundz' id='blue' ><%=image_tag('games.png', height: '60%', width:'60%', class:'nav_icon')%></div><p>Learning Games</p></a></li>
    				<li class="listuff"	id='icon3'> <a href='/lessons' class='color_tabs'> <div class='tab_backgroundz' id='purple'><%=image_tag('idea.png', height: '64%', width:'64%', class:'nav_icon')%></div><p>Creative Lessons</p></a></li>
    				<li class="listuff" id='icon4'> <a href='/common_core' class='color_tabs'> <div class='tab_backgroundz' id='red'><%=image_tag('apple.png', height: '60%', width:'60%', class:'nav_icon')%></div><p>Common Core</p></a></li>
    				<li class="listuff" id='icon5'> <a href='/account' class='color_tabs'> <div class='tab_backgroundz' id='orange'><%=image_tag('user.png', height: '60%', width:'60%', class:'nav_icon')%></div><p>My Account</p></a></li>
    			</ul>
        
        </div><!-- /.navbar-collapse -->
     
      </div>
			
</nav>

<%if heading_select('current_page')%>    
	
	
	<div class='row heading <%=heading_select('class')%>'>
	
		<div class='col-xs-5'>
		
		
		<%=image_tag(heading_select('image'), height: '80px', width:'80px', class:'nav_icon pull-right')%> 
		
	
	</div>
	<div class='col-xs-7' style='height:110px'>	
		<h1 class='heading_font'><%= heading_select('heading')%></h1>
	</div>
</div>

<%end%> 
    
