
<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	
  

</head>
<body>

 <%= render 'layouts/header' %>
 
 	<!-- ################################ TOP OF CARAOSELELEL TESTTTT ###-->
 <% if current_page?('/')%>
 		 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
         <img src="http://galpod.files.wordpress.com/2013/07/children-learning-with-computer.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hybrid Education</h1>
              <p> </p>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://1.bp.blogspot.com/-T2yw9vo6K6Y/Txtg6nCfZyI/AAAAAAAAAr8/JmlwEbFvQdI/s1600/GUGCenters%255B1%255D.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="/about" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://www.cdc.gov/vaccinesafety/images/preschoolers_and_teacher1.JPG" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="/games" role="button">Browse Games</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
	 

	

 	
 	
 	<!-- ################################ BOTTOM OF CARAOSELELEL TESTTTT ###-->
 <%else%>
 	<% nil %>
 <% end %>
	 	<!-- ################################ BOTTOM OF CARAOSELELEL TESTTTT ###-->
	
	
	
	
	<div class='container'>
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %> <!--This is pretty badass, checkout the content_tag function-->
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	<!--<%= debug(params) if Rails.env.development? %> -->
	</div>
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
		
		
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="smileModal" data-backdrop="static" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <%=image_tag("http://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1024px-Smiley.svg.png", height:'200px', width:'200px', id:'smiley')%>
    	<button type="button" class="btn btn-primary btn-lg" id="next">Next Level</button>
    </div>
  </div>
</div> 
		
		
		
   



<script>
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);
</script>

	
</body>
</html>